<div>
  <h4>Comment by <%= comment.author_name %></h4>
  <p class="comment"><%= comment.body %></p>
  <p>Posted <%= distance_of_time_in_words(comment.created_at, Time.now ) %> ago</p>
  <%= link_to "delete comment", article_comment_path(comment.article_id, comment.id), method: :delete, data: {confirm: "Do you really want to delete this beautiful comment?"} %>
</div>
